body {
  background-color: white;
  padding: 0;
  margin: 0;
}

.ColorElements {
  font-family: sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  width: 40%;
}

.PreviewRender {
  font-family: sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  width: 60%;
}

svg:not([fill]) {
  fill: grey;
}

div.inline {
  float: left;
}
.clearBoth {
  clear: both;
}

.small .react-colorful {
  width: 100px;
  height: 65px;
}

/* Custom poiners */
.custom-pointers .react-colorful__saturation-pointer {
  width: 16px;
  height: 16px;
  border-radius: 3px;
}
.custom-pointers .react-colorful__hue-pointer,
.custom-pointers .react-colorful__alpha-pointer {
  width: 16px;
  border-radius: 3px;
}
